*{
    background: #2b323c;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}


.container1{
    width: 100%;
    height: 50vh;
    background: #2b323c;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: left;
    padding-left: 35px;
}

.container1 h1{
    font-size: 40px;
    font-weight: 600;
}
.container{
    padding-left: 10px;
    padding-right: 10px;
}

.card1 h2{
  color:white;
}

.card1 p{
  font-size:1.3rem;
  color:white;
  padding-left: 20px;
}

.project-header{
  padding-bottom:35px;
 
}
.project-title{
    padding-bottom: 20px;
    padding-left: 20px;
}

#imgrad{
    border-color: #fff;
    border-style: groove;
    border-radius: 10px;
    
}